polkit.addRule(function(action, subject) {
    if (action.id == "org.freedesktop.policykit.exec" && subject.active) {
        return polkit.Result.AUTH_ADMIN_KEEP;
    }
});
